.main-pagination-navigatin {
  margin-bottom: 34px;
}


.nav_pagin,
.nav_pagin-act{
  font-size: 14px;
  font-family: Roboto;
  font-weight: 400;
  cursor: pointer;
}


.nav_pagin {
  width: 28px;
  height: 36px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
}
.nav_pagin-act {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border: 0;
  border-radius: 5px;
  background-color: #ff6b08;
  color: #fff;
 
}

.nav_pagin_arrow-left,
.nav_pagin_arrow-right{
  margin: 0;
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  border: 0;
} 

.nav_pagin_arrow-left {
  margin-right: 20px;
  background-image: url(../../images/icons/arrow-left.svg);
}


.nav_pagin_arrow-right {
  margin-left: 20px;
  background-image: url(../../images/icons/arrow-right.svg);
}
