.header-wrapper {
  /* картинка не подтягивалась с папки image */
  /* background-image: url(//src/images/img.jpg); */

  background-image: url(./img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 20%;
  background-color: rgba(0, 0, 0, 0.561);
  min-height: 230px;
}

.header-wrapper.header-library-img {
  background-image: url(./img-1.jpg);
}

.header-wrapper.header-detail-img {
  background-image: url(./img.jpg);
}

.header-first-line {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-link {
  text-decoration: none;
  /* line-height: 45px; */
  padding-top: 13px;
  padding-bottom: 10px;
}

.icon-film {
  fill: #000000;
  opacity: 0.502;

  width: 22px;
  height: 22px;
}

.header-logo-text {
  margin: 0;
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 45px;
  display: none;
  color: #ffffff;
  padding-left: 3px;
}
.logo-icon-film_modern {
  vertical-align: -1px;
}

.header-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

/* .nav-item {
} */

.nav-link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Roboto';
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  line-height: 1.333;
  margin: 0 20px;
}

.nav-link:hover:focus,
.nav-link.hover {
  border-bottom: 2px solid rgb(255, 107, 8);
}

.header-input {
  text-align: center;
  padding-top: 30px;
}

.header-search {
  color: #ffffff;
  width: 280px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
}

.header-warning {
  display: none;
}

.header-warning-text {
  margin: 0;
  padding-top: 25px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto';
  color: rgb(255, 8, 37);
  line-height: 1.333;
}
#icon-heart_modern {
  width: 10px;
  height: 10px;
  /* background: url(../../images/icons/favorite-heart-button.svg); */
}

/* MEDIA */
@media (min-width: 768px) {
  .header-logo-text {
    display: inline-block;
  }
  .header-search {
    width: 350px;
  }

  .header-warning-text {
    text-align: center;
  }
}

@media (min-width: 1024px) {
}
