.footer-wraper {
  background-color: #f7f7f7;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 105px;
}

.footer-text {
  font-family: 'Roboto';
  font-size: 12px;
  color: #000000;
  line-height: 1.5;
  margin: 0;
}

.footer-content {
  margin: 20px auto;
}

.footer-icon {
  display: inline-block;
}

.icon-copyright {
  fill: #000000;
  opacity: 0.6;
  width: 16px;
  height: 16px;
}
.icon-heart {
  fill: #ff6b08;
  width: 16px;
  height: 16px;
}

.footer-mobile-hidden {
  display: none;
}

.footer-contact-link {
  cursor: pointer;
}

.footer-contact-link:hover {
  font-weight: 600;
  color: #ff6b08;
}

/* MEDIA */
@media (min-width: 768px) {
  .footer-text {
    display: inline-block;
  }
  .footer-mobile-hidden {
    display: inline-block;
  }

  .footer-content {
    margin: 30px auto;
  }
}

@media (min-width: 1024px) {
}

/* TEAM SECTION  TEAM SECTION TEAM SECTION TEAM SECTION TEAM SECTION TEAM SECTION */

.team-section__title {
  font-size: 50px;
  line-height: 70px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  margin: 0 auto 66px;
  border-bottom: 2px solid #ff6b08;
}

.team-section__title-span {
  display: block;
  font-size: 40px;
  line-height: 60px;
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  text-transform: none;
  color: #ff6b08;
}

.team__description {
  font-family: 'Roboto';
  text-align: center;
  margin: 0 auto;
  padding-bottom: 92px;
  color: #999999;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.team-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-list__item {
  margin: 15px;
}

.team-list__name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #333333;
  text-transform: uppercase;
  line-height: 17px;
  text-align: center;
  padding-bottom: 15px;
  font-weight: 700;
}

.team-list__occupation {
  font-size: 15px;
  font-family: 'Roboto';
  color: #999999;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.team-list__block {
  background-color: #95e1d3;
  width: 380px;
  height: 470px;
  margin-bottom: 30px;
  position: relative;
}

.team-list__image {
  background-size: cover;
  height: 470px;
  background-position: center center;
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
}

.photo-1 {
  background-image: url(../../images/devs/yurii.jpg);
}

.photo-2 {
  background-image: url(../../images/devs/olia.jpg);
}

.photo-3 {
  background-image: url(../../images/devs/yaroslav.jpg);
}

.photo-4 {
  background-image: url(../../images/devs/roma-li.jpg);
}

.photo-5 {
  background-image: url(../../images/devs/valerii.jpg);
}

.photo-6 {
  background-image: url(../../images/devs/roman-homenko.jpg);
}

.photo-7 {
  background-image: url(../../images/devs/dima.jpg);
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;

  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0) 0%,
    rgba(243, 129, 129, 0) 100%
  );
}

.gradient-link {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

.button--more {
  position: absolute;
  display: none;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: 3px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  min-width: 164px;
  min-height: 44px;
  margin: 0 auto;
  cursor: pointer;
  margin: 0;
  bottom: 2%;
  left: 28%;
}

.button--more:hover {
  display: block;
  background-color: #ffffff;
  cursor: pointer;
}

.button--more:hover .gradient-link {
  color: #f38181;
}

.team-list__item:hover .gradient {
  background-image: linear-gradient(
    to top,
    rgba(252, 227, 138, 0.7) 0%,
    rgba(243, 129, 129, 0.7) 100%
  );
  position: absolute;
  top: -10px;
  left: -10px;
}

.team-list__item:hover .button--more {
  display: block;
}

.team-list__item:hover .team-list__image {
  position: relative;
  top: -10px;
  left: -10px;
}
