<section class="team-section container">
  <h2 class="team-section__title">
    <span class="team-section__title-span">Who we are</span>
    meet our teem
  </h2>
  <p class="team__description">
    Each member of our team is a specialist in their field. Together, we make
    sure you’re investing where the best returns are, while building loyalty
    across every touchpoint. When your mission is to be better, faster and
    smarter, you need the best people driving your vision forward. Get to know
    our team below.
  </p>

  <ul class="team-list">
    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-1"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/littwa" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Yurii Litovchenko</p>
      <p class="team-list__occupation">Team Lead, Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-2"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/123-olia" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Olia Antipenko</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-3"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/DutkaYaroslav" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Yaroslav Dutka</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-4"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/Velmor99" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Roman Li</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-5"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/poskachei" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Valerii Poskachei</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-6"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/romankhom" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Roman Khomenko</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>

    <li class="team-list__item">
      <div class="team-list__block">
        <div class="team-list__image photo-7"></div>
        <div class="gradient">
          <button class="button--more">
            <a href="https://github.com/OleynikDima" class="gradient-link">
              Git Hub</a
            >
          </button>
        </div>
      </div>
      <p class="team-list__name">Dmitrii Oleynik</p>
      <p class="team-list__occupation">Frontend Developer</p>
    </li>
  </ul>
</section>
