.header__button_watched {
  height: 44px;
  width: 130px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  font-family: Roboto, Verdana, sans-serif;
}

.header__button_queue {
  height: 44px;
  width: 130px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0);
  font-family: Roboto, Verdana, sans-serif;
}

.header__buttons_block {
  display: none;
  justify-content: space-between;
  margin-top: 30px;
}

.is_active {
  background: rgba(255, 107, 8, 1);
  border: rgba(255, 107, 8, 1);
}

@media (min-width: 768px) {
  .header__button_watched {
    width: 136px;
    margin-right: 14px;
  }

  .header__button_queue {
    width: 136px;
  }

  .header__buttons_block {
    justify-content: center;
  }
}
