@import './fonts.css';
@import './components/Header/header.css';
@import './components/Footer/footer.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
<<<<<<< HEAD
  padding: 0;
=======
>>>>>>> 72e3db942c812e931819cbcd4bb6ff8de2356523
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* PAG TEST PAG TEST PAG TEST PAG TEST PAG TEST TEST PAG TEST PAG TEST PAG TEST PAG TEST PAG TEST */
.main-pagination-navigatin {
  width: max-content;
  margin: 0 auto;
}
/* PAG TEST PAG TEST PAG TEST PAG TEST PAG TEST TEST PAG TEST PAG TEST PAG TEST PAG TEST PAG TEST */

/* Медиазапросы Медиазапросы Медиазапросы Медиазапросы Медиазапросы  */

 

  /* Медиазапросы Медиазапросы Медиазапросы Медиазапросы Медиазапросы  */


  /* list-film made Dima */

  /* -----main-------*/
  .main-section {
    margin: 0 auto;
    padding: 0;
    /* width: 320px; */
  }
/* --------li -------*/
  .container_cart-films {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .js-menu__item{
   padding: 0;
   list-style: none;
   width: 280px;
   margin-bottom: 20px;
  }

  .card {
    margin: 0;
    padding: 0;
    width: 280px;
        }

  .js-menu__item img {
    border-radius: 2%;
    width: 100%;
    height: 100%;
    margin-bottom: 6px;
  }

  .card__content {
    font-family: Roboto;
    line-height: 16px;
    font-weight: 500;
    font-size: 12px;
  }
  .cart__info {
    height: 27px;
    color: #ff6b09;
    display: flex;
    align-items: center;
  }
  
  .card__title {
    margin: 0;
  }
  .genre-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: left;
    line-height: 16px
  }
  .genre-list__item {
    margin-right: 5px;
  }

  .card-year {
    padding: 0 2px;
    border-left:2px solid #ff6b09 ;
  }

  .card-vote {
    
    padding: 2px 6px;
    border-radius: 20%;
    background-color: #ff6b09;
    color: #ffffff;
  }
  /*----to do--hide-----*/
  .hide {
    display: none;
  }



<<<<<<< HEAD
  @media (min-width: 768px) {
    .main-section {
      width: 768px;
    }
    .container_cart-films {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .container{width: 620px;}
=======
@media (min-width: 768px) {
  .container {
    width: 620px;
>>>>>>> 72e3db942c812e931819cbcd4bb6ff8de2356523
  }
}

<<<<<<< HEAD
  @media (min-width: 1024px) {
    .container{width: 876px;}
  }
=======
@media (min-width: 1024px) {
  .container {
    width: 876px;
  }
}

/* Медиазапросы Медиазапросы Медиазапросы Медиазапросы Медиазапросы  */
>>>>>>> 72e3db942c812e931819cbcd4bb6ff8de2356523
